.about {
  background-color: #0a2850;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.about__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin-top: 100px;
  margin-left: 80px;
  z-index: 2;
  margin-bottom: 0;
}

.about__content {
  display: flex;
  max-width: 660px;
  flex-direction: column;
  margin-top: 119px;
  margin-bottom: 173px;
  margin-right: 80px;
}

.about__paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  z-index: 2;
}

.about__paragraph:last-child {
  margin-bottom: 0px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
    opacity: 0;
  }
}
