.form {
  font-weight: 500px;
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
}

.form__button {
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.75s ease-in;
}

.form__checkbox {
  border-radius: 2px;
}
