.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-weight: normal;
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  box-sizing: border-box;
  max-block-size: 800px;
  min-block-size: 720px;
  height: 100vh;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-bottom: 28px;
  margin-top: 202px;
  margin-left: 80px;
  z-index: 2;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #2f80ed;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
  z-index: 2;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
  z-index: 1;
}

.header__footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding-right: 80px;
  padding-left: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 0;
  margin-top: 0;
}

.header__hours {
  text-decoration: none;
  margin-right: auto;
}

.header__address {
  margin-top: 0;
  margin-bottom: 0;
}
