.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-weight: normal;
  position: relative;
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 30px;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-bottom: 28px;
  margin-top: 202px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #2f80ed;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  z-index: 1;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 40px;
  right: 80px;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
