.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  max-width: 580px;
  padding-left: 80px;
  margin-bottom: 24px;
  margin-top: 0;
}

.recipes__subtitle {
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 438px;
  padding-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 80px;
}

.recipes__content {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  border: none;
  width: 470px;
  height: 273px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__video-caption {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
